@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Bold.woff");
  font-weight: bold;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Regular.woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Light.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-Black.woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-SemiBold.woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal; }

.header {
  top: 36px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .header__menu {
    position: absolute;
    left: 34px;
    top: 6px; }
  .header__logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff; }
  .header .navigation {
    display: none; }

@media screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    max-width: 1176px;
    display: flex;
    padding: 0 34px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 92px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%; }
    .header__menu {
      display: none; }
    .header__logo {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff; }
    .header .navigation {
      display: flex; }
      .header .navigation__list {
        display: flex; }
        .header .navigation__list-item:not(:last-child) {
          margin-right: 60px; }
        .header .navigation__list-item .link {
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          text-decoration: none;
          cursor: pointer;
          color: #ffffff; } }

.banner {
  background: url(../../images/Background.jpg);
  background-size: cover;
  position: relative;
  height: 275px;
  position: static;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  .banner__content {
    display: flex;
    padding-top: 114px;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .banner__content-title {
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 12px; }
    .banner__content-description {
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
      padding-bottom: 40px; }
    .banner__content-link {
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF; }

@media screen and (min-width: 768px) {
  .banner {
    height: 358px; }
    .banner__content {
      padding-top: 148px; }
      .banner__content-title {
        font-size: 26px;
        line-height: 30px; }
      .banner__content-description {
        font-size: 16px;
        line-height: 19px; } }

@media screen and (min-width: 1280px) {
  .banner {
    height: 768px; }
    .banner__content {
      max-width: 1176px;
      width: 100%;
      padding: 268px 34px 0px 34px;
      align-items: baseline; }
      .banner__content-title {
        font-size: 64px;
        line-height: 78px;
        margin-bottom: 26px; }
      .banner__content-description {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 106px; }
      .banner__content-link {
        font-size: 18px;
        line-height: 22px; } }

.section {
  flex-direction: column;
  padding: 24px 29px 8px 34px; }
  .section__title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    color: #333333; }
  .section__text .text {
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    margin-bottom: 16px; }

@media screen and (min-width: 768px) {
  .section {
    align-items: center; }
    .section__text {
      max-width: 732px; }
      .section__text .text {
        font-size: 14px;
        line-height: 16px; } }

@media screen and (min-width: 1280px) {
  .section {
    padding: 92px 0px 114px 0px; }
    .section__text {
      max-width: 1108px;
      margin-bottom: 76px; }
      .section__text .text {
        font-size: 18px;
        line-height: 30px; } }

.section__skill {
  background: #FFFAF2;
  padding: 24px 29px 24px 34px; }

.section__title {
  padding-bottom: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: #333333; }

.section__content-img {
  height: 218px;
  display: flex;
  justify-content: center;
  margin-bottom: 26px; }

.section__content .section__list {
  align-items: center;
  flex-direction: column;
  display: flex; }
  .section__content .section__list-item {
    display: flex;
    align-items: center;
    width: 309px; }
    .section__content .section__list-item:nth-child(even) {
      margin-bottom: 8px; }
    .section__content .section__list-item:nth-child(odd) {
      margin-bottom: 18px; }
    .section__content .section__list-item:first-child {
      margin-bottom: 30px; }
    .section__content .section__list-item:last-child {
      margin-bottom: 0px; }
    .section__content .section__list-item .skill {
      width: 82px;
      margin-right: 16px;
      font-size: 12px;
      line-height: 25px;
      font-weight: 600; }
    .section__content .section__list-item .level {
      display: flex;
      align-items: center;
      width: 211px;
      height: 18px;
      background: #F5D6AB; }
      .section__content .section__list-item .level::before {
        content: "";
        display: block;
        width: 50%;
        height: 100%;
        background: #C66C49; }
    .section__content .section__list-item .description__tools {
      font-weight: normal;
      font-size: 12px;
      line-height: 25px; }

@media screen and (min-width: 768px) {
  .section__skill {
    padding: 92px 29px 144px 34px; }
  .section__content {
    display: flex; }
    .section__content-img {
      display: flex;
      justify-content: center;
      margin: 0 134px 0 0;
      height: 265px;
      width: 265px; } }

@media screen and (min-width: 1280px) {
  .section {
    display: block; }
    .section__title {
      padding-bottom: 86px;
      width: 1108px;
      margin: 0 auto;
      text-align: left;
      font-size: 24px;
      line-height: 29px; }
    .section__content {
      width: 1108px;
      margin: 0 auto; }
      .section__content-img {
        margin: 0 120px 0 0;
        width: 350px;
        height: 340px; }
      .section__content .section__list-item {
        width: 634px; }
        .section__content .section__list-item .skill {
          width: 123px;
          font-size: 18px;
          line-height: 25px;
          margin-right: 66px; }
        .section__content .section__list-item .description__tools {
          font-weight: normal;
          font-size: 18px;
          line-height: 25px; }
        .section__content .section__list-item .level {
          width: 446px;
          height: 24px; }
        .section__content .section__list-item:nth-child(even) {
          margin-bottom: 21px; }
        .section__content .section__list-item:nth-child(odd) {
          margin-bottom: 21px; }
        .section__content .section__list-item:first-child {
          margin-bottom: 65px; }
        .section__content .section__list-item:last-child {
          margin-bottom: 0px; } }

.portfolio {
  padding: 24px 29px 24px 34px; }
  .portfolio__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  .portfolio__content-description {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 308px; }
    .portfolio__content-description .skill {
      font-weight: 600;
      font-size: 14px;
      line-height: 25px;
      margin: 0 auto;
      margin-bottom: 14px; }
    .portfolio__content-description .description__text {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      margin-bottom: 14px; }
    .portfolio__content-description .portfolio__content-img {
      display: none; }
  .portfolio__content .list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; }

@media screen and (min-width: 768px) {
  .portfolio__content-description {
    width: 368px; }
    .portfolio__content-description .description__text {
      font-size: 14px;
      line-height: 16px; } }

@media screen and (min-width: 1280px) {
  .portfolio {
    padding: 92px 29px 144px 34px; }
    .portfolio__title {
      width: 1108px;
      margin: 0 auto;
      justify-content: left;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 86px; }
    .portfolio__content {
      display: flex;
      width: 1108px;
      margin: 0 auto;
      justify-content: space-between; }
      .portfolio__content-description {
        margin: 0; }
        .portfolio__content-description .skill {
          margin: 0 0 48px 0;
          font-size: 18px;
          line-height: 25px; }
        .portfolio__content-description .description__text {
          width: 349px;
          font-size: 18px;
          line-height: 30px;
          text-align: justify;
          margin-bottom: 234px; }
        .portfolio__content-description .portfolio__content-img {
          padding-left: 24px;
          display: block; }
          .portfolio__content-description .portfolio__content-img .img:nth-child(1) {
            margin-right: 14px; }
      .portfolio__content .list {
        padding-top: 42px;
        margin: 0;
        width: 308px; } }

.footer {
  background: #FFFAF2; }
  .footer__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding: 26px 0;
    text-align: center; }
  .footer__content {
    max-width: 374px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 32px 50px 42px; }
    .footer__content .list {
      margin: 0 100px 30px 0; }
      .footer__content .list__item {
        margin-bottom: 20px; }
        .footer__content .list__item:last-child {
          margin-bottom: 0px; }
        .footer__content .list__item-link {
          text-decoration: none;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #333333; }
    .footer__content .networks__item {
      margin-bottom: 20px; }
      .footer__content .networks__item:last-child {
        margin-bottom: 0px; }
      .footer__content .networks__item-link {
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #333333; }
    .footer__content .text__information {
      font-size: 14px;
      line-height: 17px; }
      .footer__content .text__information:first-child {
        margin-bottom: 14px; }
    .footer__content-img {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 198px;
      right: 0; }
      .footer__content-img .img {
        width: 100%; }

@media screen and (min-width: 768px) {
  .footer__content {
    position: relative;
    max-width: 708px;
    justify-content: space-between;
    padding: 0px; }
    .footer__content .list {
      margin: 0 100px 30px 0; }
    .footer__content-img {
      top: 180px; } }

@media screen and (min-width: 1208px) {
  .footer__title {
    text-align: left;
    padding: 92px 0 50px 0;
    width: 1108px;
    margin: 0px auto; }
  .footer__content {
    max-width: 1108px;
    padding: 0 0 70px 0;
    justify-content: end; }
    .footer__content .list {
      margin: 0 302px 118px 0; }
      .footer__content .list__item {
        margin-bottom: 14px; }
        .footer__content .list__item:last-child {
          margin-bottom: 0px; }
        .footer__content .list__item-link {
          text-decoration: none;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: #333333; }
    .footer__content .networks {
      margin-right: 294px; }
      .footer__content .networks__item {
        margin-bottom: 14px; }
        .footer__content .networks__item:last-child {
          margin-bottom: 0px; }
        .footer__content .networks__item-link {
          font-size: 18px;
          line-height: 22px; }
    .footer__content .text__information {
      font-size: 18px;
      line-height: 22px; }
    .footer__content-img {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 260px;
      right: 0; } }

body {
  font-family: "Libre Franklin", sans-serif;
  margin: 0px; }

p,
h1,
h2,
h3 {
  margin: 0; }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.section {
  display: flex; }
  .section__text .text {
    font-weight: normal;
    color: #333333; }
