@import "./fonts.scss";
@import "./section/header";
@import "./section/banner";
@import "./section/section-about";
@import "./section/section-skill";
@import "./section/section-portfolio";
@import "./section/footer";

body {
  font-family: "Libre Franklin", sans-serif;
  margin: 0px;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.section {
  display: flex;
  
  &__text {
    .text {
      font-weight: normal;
      color: #333333;
    }
  }

}
