@import './fonts.scss';
@import './section/header';

body {
  font-family: "Libre Franklin", sans-serif;
    margin: 0px;
    
    
  }
  
  p, h1, h2, h3 {
    margin: 0; }
  
  * {
    box-sizing: border-box; }

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }