.portfolio {
    padding: 24px 33px 24px 34px;
    &__title{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__content {
        &-description{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 308px;
            .skill {
                font-weight: 600;
                font-size: 14px;
                line-height: 25px;
                margin:0 auto;
                margin-bottom: 14px;
            }
            .description__text{
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                margin-bottom: 14px;
            }
            .portfolio__content-img{
                display: none;
            }
        }
        .list {
            
            display: flex;
            justify-content: center;            
            &__item{
                display: flex;
                flex-direction: column;
                
                &:nth-child(1){
                    width: 170px;
                    height: 195px;
                    margin-right: 14px;
                    .list__item-img{
                        &:nth-child(1){
                            width: 169.76px;
                            height: 69.85px;
                            margin-bottom: 12px;
                        }
                        &:nth-child(2){
                            width: 169.28px;
                            height: 113.01px;
                        }
                    }
                }
                &:nth-child(2){
                    width: 124px;
                    height: 194px;
                    .list__item-img{
                        &:nth-child(1){
                            width: 123.69px;
                            height: 113.01px;
                            margin-bottom: 12px;
                        }
                        &:nth-child(2){
                            width: 123.69px;
                            height: 69.85px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .portfolio {
        &__content {
            &-description{
                width: 368px;
                .description__text{
                    font-size: 14px;
                    line-height: 16px;
                } 
            }
            .list {
            display: flex;
            justify-content: center;            
            &__item{
                display: flex;
                flex-direction: column;
                
                &:nth-child(1){
                    width: 350px;
                    height: 403px;
                    margin-right: 30px;
                    .list__item-img{
                        &:nth-child(1){
                            width: 350px;
                            height: 144px;
                            margin-bottom: 26px;
                        }
                        &:nth-child(2){
                            width: 350px;
                            height: 233px;
                        }
                    }
                }
                &:nth-child(2){
                    width: 255px;
                    height: 403px;
                    .list__item-img{
                        &:nth-child(1){
                            width: 255px;
                            height: 233px;
                            margin-bottom: 26px;
                        }
                        &:nth-child(2){
                            width: 255px;
                            height: 144px;
                        }
                    }
                }
            }
        }
        }
    }
}


@media screen and (min-width: 1280px) {
    .portfolio {
        padding: 92px 29px 144px 34px;
        &__title{
            width: 1108px;
            margin: 0 auto;
            justify-content: left;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 86px;
        }
        &__content {
            display: flex;
            width: 1108px;
            margin: 0 auto;
            justify-content: space-between;
            &-description{
                margin: 0;
                .skill {
                    margin: 0 0 48px 0;
                    font-size: 18px;
                    line-height: 25px;
                }
                .description__text{
                    width: 349px;
                    font-size: 18px;
                    line-height: 30px;
                    text-align: justify;
                    margin-bottom: 226px;
                }
                .portfolio__content-img{
                    padding-left: 24px;
                    display: block;
                    .img{
                        &:nth-child(1){
                            margin-right: 14px;
                        }
                    }
                }
            }
            .list {
                padding-top: 42px;
                margin: 0;
                
            }
        }
    }
}